# Fichiers système
.DS_Store

# Dossiers Node.js
node_modules/

# Fichiers de build
/build/
/dist/

# Fichiers d'environnement
.env

# Dossiers de test
/tests/

# Fichiers spécifiques à l'IDE
.idea/
.vscode/

# Fichiers de sauvegarde
*.bak
*.backup
*.swp

# Fichiers de configuration spécifiques à l'utilisateur
*.yml
*.config
*.conf

# Fichiers de log
*.log
logs/

# Dossiers temporaires
/tmp/
.temp/

# Fichiers de déploiement spécifiques
/deploy/
/deployment/

# Autres fichiers temporaires ou générés automatiquement
*.pid
*.seed
*.pid.lock

# Fichiers spécifiques à certains outils ou frameworks
# Ajoutez les fichiers spécifiques à votre projet

# Ignore les fichiers générés par l'IDE WebStorm
.idea/
*.iml

# Dépendances Python
__pycache__/
*.pyc
*.pyo

# Dépendances Ruby
*.gem

# Dépendances PHP
composer.phar
/vendor/
