@import url("./satoshi.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide cursor */
html, a {
  scroll-behavior: smooth;
  cursor: none;
}

body {
  overflow-x: hidden;
}




/* animation Nav */
@keyframes enterAnimationNav {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-enter-nav {
  animation: enterAnimationNav 1200ms ease forwards;
}

/* animation Hero */

/* texte 1 */
@keyframes enterAnimation1 {
  from {
    transform:translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-enter-1 {
  animation: enterAnimation1 500ms ease-out forwards;
}

/* texte 2 */
@keyframes enterAnimation2 {
  from {
    transform:  translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-enter-2 {
  animation: enterAnimation2 500ms ease-out forwards 400ms;
}

/* texte 3 */
@keyframes enterAnimation3 {
   from {
    transform:  translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-enter-3 {
  animation: enterAnimation3 500ms ease-out forwards 800ms;
}

/* texte contouring */
.text-contour {
  text-shadow: -3px -3px 0 #fff, 3px -3px 0 , -3px 3px 0 #fff, 3px 3px 0 #fff;
}

/* scroll typo animation*/
@keyframes scrollTypoAnimation {
  0% {
    transform: scaleX(0.1) translateX(0%);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1) translateX(0);
    transform-origin: left;
  }
  75% {
    transform: scaleX(0.1) translateX(100%) ;
    transform-origin: right;
  }
  100% {
    transform: scaleX(0.1) translateX(0);
    transform-origin: left;
  }
}

.scroll-typo-animation {
  animation: scrollTypoAnimation 2s  infinite;
}
